---
---
@import "{{ site.theme }}";

.container-lg {
  max-width: 70vw;
}

markdown-body {

  .hr {
    background-color: #f4f4f4
  }

}

body {
  color: #f4f4f4;
  background-color: #181D2B; 
}

a { color: #70bbff; }

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;   /* Ensures images fit 1080p screens */
  height: auto;      /* Maintains aspect ratio */
  display: block;
  margin: 0 auto 2rem auto; /* Centers images with bottom spacing */
  background-color: transparent !important;
  /* Some browsers add a 'canvas' background to large images */
  mix-blend-mode: normal; 
  /* This prevents the white 'halo' effect on anti-aliased edges */
  image-rendering: -webkit-optimize-contrast; 
}
